@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model DayExpenses

<div class="modal-header">
    <h5 class="modal-title">@Localizer["AddExpenses"]</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form name="CreateDayExpensesForm" novalidate>
        @Html.AntiForgeryToken()
        <input type="hidden" name="currentUserName" value="@ViewData["CurrentUsersName"]">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-3">
            <i class="bi bi-calendar-event-fill"></i>
            <label class="control-label">@Localizer["Date"]</label>
            <input asp-for="Date" class="form-control" id="date" ng-model="day.date" required/>
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <i class="bi bi-geo-alt-fill"></i>
            <label class="control-label">@Localizer["Location"]*</label>
            <input asp-for="Location" class="form-control" id="location" ng-model="day.location" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <i class="bi bi-people-fill"></i>
            <label class="control-label">@Localizer["Participants"]</label>
            <input asp-for="Participants" class="form-control" id="participants" ng-model="day.participants" placeholder="John, Mary, Alex" required />
            <label for="participants" class="form-text text-muted small mt-0 pt-0">*Enter participant names, separated by commas (e.g. John, Mary, Alex)</label>
            <span asp-validation-for="Participants" class="text-danger"></span>
        </div>
        <button type="button" value="Create" class="btn btn-success" ng-click="createDayExpenses()">
            <i class="bi bi-plus-circle me-1"></i>@Localizer["AddExpensesButton"]
        </button>
    </form>
</div>
