@using ExpensesCalculator.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model DayExpensesViewModel

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/ajax/day-expenses/share-day-expenses.js"></script>

<div class="modal-header">
    <h5 class="modal-title">@Localizer["ShareExpenses"]</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form asp-action="Share">
        <div class="form-group mb-3">
            <i class="bi bi-calendar-event-fill"></i>
            <label class="control-label">@Localizer["Date"]</label>
            <input value="@Model.DayExpenses.Date" class="form-control" disabled readonly />
            <span asp-validation-for="DayExpenses.Date" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <i class="bi bi-people-fill"></i>
            <label class="control-label">@Localizer["Participants"]</label>
            <input asp-for="DayExpenses.ParticipantsList" value="@ViewBag.FormatParticipantNames" class="form-control"
                   disabled readonly />
            <span asp-validation-for="DayExpenses.ParticipantsList" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <i class="bi bi-cash-stack pe-1"></i>
            <label class="control-label">@Localizer["TotalSum"]</label>
            <input asp-for="TotalSum" class="form-control" value="₴@Model.TotalSum.ToString("F2")" disabled readonly />
        </div>
        <div class="form-group">
            <i class="bi bi-person-fill"></i>
            <label class="control-label">@Localizer["AddAccessForUser"]</label>
            <input class="form-control" id="newUserWithAccess"/>
        </div>
        <div class="form-group mb-3" id="statusString"></div>
        <input type="hidden" asp-for="DayExpenses.Id" />
        <div class="form-group">
            <button type="button" class="btn btn-dark" id="shareExpensesButton">
                <i class="bi bi-share me-1"></i>@Localizer["Share"]
            </button>
        </div>
    </form>
</div>

<script>
    var token = '@Html.AntiForgeryToken()';
    var currentUsersName = "@ViewData["CurrentUsersName"]";
    var dayExpensesId = $("#Id").val();
</script>
