@model IEnumerable<DayExpenses>

@{
    ViewData["Title"] = "Expenses List";
}

<link href="~/css/mytooltip.css" rel="stylesheet" />
<link href="~/css/reduce-content-size.css" rel="stylesheet" />

<script src="~/js/modalviews/day-expenses-modal-views.js"></script>

<div class="rounded m-3 m-sm-5 dark-blue-1" ng-controller="DayExpensesCtrl">
    <div class="container-fluid p-3 text-white"> 
        <h4>Expenses List</h4>
        <br />

        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                onclick="showModalForDayExpensesCreate()">
            <i class="bi bi-plus-circle"></i> Add expenses
        </button>

    </div>
    <div class="table-responsive">
        <table class="table table-borderless text-white" id="daysTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Participants)
                    </th>
                    <th width="250px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var day in Model)
                {
                    <tr style="height: 80px;">
                        <td>
                            @Html.DisplayFor(model => day.Date)
                        </td>
                        <td>
                            <div class="mytooltip">
                                <label>@day.ParticipantsList.Count people</label>
                                <span class="center-tooltiptext">
                                    Participants:
                                    <ul>
                                        @foreach (var user in day.ParticipantsList)
                                        {
                                            <li>@user</li>
                                        }
                                    </ul>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                        onclick="showModalForDayExpensesShare(@day.Id)">
                                    <i class="bi bi-share"></i>
                                </button>
                                <a role="button" class="btn btn-info" asp-controller="DayExpenses" asp-action="ShowChecks" asp-route-id="@day.Id">
                                    <i class="bi bi-list-check"></i>
                                </a>
                                <a role="button" class="btn btn-primary" asp-controller="DayExpenses" asp-action="CalculateExpenses" asp-route-id="@day.Id">
                                    <i class="bi bi-calculator"></i>
                                </a>
                                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                        onclick="showModalForDayExpensesEdit(@day.Id)">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <button class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop" onclick="showModalForDayExpensesDelete(@day.Id)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
