@model DayExpenses

@{
    ViewData["Title"] = "Check List";
}

<link href="~/css/mytooltip.css" rel="stylesheet" />

<script src="~/js/modalviews/day-expenses-modal-views.js"></script>
<script src="~/js/modalviews/checks-modal-views.js"></script>
<script src="~/js/modalviews/items-modal-views.js"></script>
<script src="~/js/managers/check-items-manager.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/caret-down-animation.js"></script>

<div class="rounded m-3 m-sm-5 dark-blue-1">
    <div class="table-responsive">
        <table class="table table-borderless text-white">
            <thead>
                <tr>
                    <th class="text-nowrap">
                        <i class="bi bi-calendar-event pe-1"></i>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th class="text-nowrap">
                        <i class="bi bi-people-fill pe-1"></i>
                        @Html.DisplayNameFor(model => model.Participants)
                    </th>
                    <th width="200px"></th>
                </tr>
            </thead>
            <tbody>
                <tr style="height: 60px;">
                    <td class="text-nowrap">
                        @Html.DisplayFor(model => model.Date)
                    </td>
                    <td class="text-nowrap">
                        <div class="mytooltip" id="Test">
                            <label>@Model.ParticipantsList.Count people</label>
                            <span class="center-tooltiptext">
                                <i class="bi bi-people-fill pe-1"></i>Participants:
                                @foreach (var user in Model.ParticipantsList)
                                {
                                    <i class="bi bi-person-fill pe-1"></i>@user<br />
                                }
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                    onclick="showModalForDayExpensesShare(@Model.Id)">
                                <i class="bi bi-share"></i>
                            </button>
                            <a role="button" class="btn btn-primary" asp-controller="DayExpenses" asp-action="CalculateExpenses" asp-route-id="@Model.Id">
                                <i class="bi bi-calculator"></i>
                            </a>
                            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                    onclick="showModalForDayExpensesEdit(@Model.Id)">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop" onclick="showModalForDayExpensesDelete(@Model.Id)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container-fluid p-3 text-white">
        <h4>Check List</h4>
        <br />

        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                onclick="showModalForCheckCreate(@Model.Id)">
            <i class="bi bi-plus-circle"></i> Add check
        </button>
    </div>

    @if (Model.Checks is not null)
    {
        <div class="table-responsive">
            <table class="table table-borderless text-white check-table" id="checkTable">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-nowrap">
                            <i class="bi bi-cart pe-1"></i>
                            @Html.DisplayNameFor(model => model.Checks.First().Location)
                        </th>
                        <th class="text-nowrap">
                            <i class="bi bi-cash-stack pe-1"></i>
                            @Html.DisplayNameFor(model => model.Checks.First().Sum)
                        </th>
                        <th class="text-nowrap">
                            <i class="bi bi-person-fill pe-1"></i>
                            @Html.DisplayNameFor(model => model.Checks.First().Payer)
                        </th>
                        <th width="120px"></th>
                    </tr>
                </thead>
                <tbody id="checkList">
                    @await Html.PartialAsync("_ManageDayExpensesChecks", Model)
                </tbody>
            </table>
        </div>
    }

    <div class="container-fluid p-3 text-white">
        <br />
        <a asp-action="Index" class="btn btn-primary" role="button">Back to List</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

