@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav align-items-center">
    <li class="nav-item me-1">
        @switch (TempData["languageCulture"])
        {
            case "en-US":
                {
                    <button class="btn text-white" style="height: 40px;" onclick="location.href='@Url.Action("ChangeLanguage", "Language", new {language="uk-UA", returnUrl=ViewContext.HttpContext.Request.Path})'">
                        <img class="me-1" src="@Url.Content("~/images/en-US-flag.svg")" alt="eng" width="30">
                    EN
                </button>
                break;
            }
            case "uk-UA":
            {
                    <button class="btn text-white" style="height: 40px;" onclick="location.href='@Url.Action("ChangeLanguage", "Language", new {language="en-US", returnUrl=ViewContext.HttpContext.Request.Path} )'">
                    <img class="me-1" src="@Url.Content("~/images/uk-UA-flag.svg")" alt="ua" width="30">
                    UA
                </button>
                break;
            }
            default:
            {
                    <button class="btn text-white" style="height: 40px;" onclick="location.href='@Url.Action("ChangeLanguage", "Language", new {language="en-US", returnUrl=ViewContext.HttpContext.Request.Path} )'">
                    <img class="me-1" src="@Url.Content("~/images/en-US-flag.svg")" alt="def" width="30">
                    EN
                </button>
                break;
            }
        }        
    </li>
    @if (SignInManager.IsSignedIn(User))
    {        
        <li class="nav-item">
            <a id="manage" class="nav-link text-white" style="height: 40px;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hi, <strong>@UserManager.GetUserName(User)</strong>                
            </a>
        </li>
        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
                <button type="submit" class="nav-link btn text-white" style="height: 40px;">@Localizer["Logout"]</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
        </li>
    }
</ul>
