@model ExpensesCalculator.Models.Item

<script src="~/js/ajax/items/delete-item.js"></script>

<div class="modal-header">
    <h5 class="modal-title">Delete item</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form asp-action="Delete" asp-route-checkid="@ViewData["CheckId"]" asp-route-dayexpensesid="@ViewData["DayExpensesId"]">
        <div class="form-group mb-3">
            <i class="bi bi-box"></i>
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" disabled readonly />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <i class="bi bi-alphabet"></i>
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" disabled readonly />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <i class="bi bi-coin"></i>
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" disabled readonly />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <i class="bi bi-people-fill"></i>
            <label asp-for="UsersList" class="control-label"></label>
            <input asp-for="UsersList" value="@ViewData["FormatUserList"]" class="form-control" disabled readonly />
            <span asp-validation-for="UsersList" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Id"/>
        <button type="button" value="Delete" class="btn btn-danger" id="deleteButton">
            <i class="bi bi-trash"></i> Delete
        </button>
    </form>
</div>

<script>
    var token = '@Html.AntiForgeryToken()';
    var itemId = $("#Id").val();
    var checkId = @Model.CheckId;
</script>
