@{
    ViewData["Title"] = "Home Page";
}

<div class="text-white text-center dark-blue-0">
    <div class="container p-5">
        <h1 class="fw-bolder">Welcome to ExpensesCalculator</h1>
        <p class="lead">Distribute expenses among party participants based on their consumption.</p>
    </div>
    <div class="p-5 m-5 d-flex">
        <div class="rounded p-5 m-5 dark-blue-1" style="width: 1000px;">
            <h2>About this page</h2>
            <p class="lead">This page is including some instructions what your can do with this website.</p>
        </div>
    </div>
    <div class="p-5 m-5 d-flex justify-content-center">
        <div class="card border-primary dark-blue-1" style="width: 1000px;">
            <img src="@Url.Content("~/images/1-my-expenses-list-button.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">1. Select the "My expenses list" tab.</p>
            </div>
        </div>
    </div>
    <div class="p-5 m-5 d-flex justify-content-center">
        <div class="card border-primary dark-blue-1" style="width: 1000px;">
            <img src="@Url.Content("~/images/2-add-expenses-button.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">2. Click the "Add expenses" button and enter the required data.</p>
            </div>
        </div>
    </div>
    <div class="p-5 m-5 d-flex justify-content-center">
        <div class="card border-primary dark-blue-1" style="width: 1000px;">
            <img src="@Url.Content("~/images/3-show-checks-button.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">3. Click the button with a list image, 
                    to enter data about the items to be calculated.</p>
            </div>
        </div>
    </div>
    <div class="p-5 m-5 d-flex justify-content-center">
        <div class="card border-primary dark-blue-1" style="width: 1000px;">
            <img src="@Url.Content("~/images/4-add-check-button.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">4. On the next screen, add checks, which are used to group items
                    by who paid for them.</p>
            </div>
        </div>
    </div>
    <div class="p-5 m-5 d-flex justify-content-center">
        <div class="card border-primary dark-blue-1" style="width: 1000px;">
            <img src="@Url.Content("~/images/5-add-item-button.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">5. Open the appropriate check and add the items of this check.</p>
            </div>
        </div>
    </div>
    <div class="p-5 m-5 d-flex justify-content-center">
        <div class="card border-primary dark-blue-1" style="width: 1000px;">
            <img src="@Url.Content("~/images/6-edit-and-delete-buttons.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    6. Use the edit and delete buttons to change data if it was entered incorrectly.
                </p>
            </div>
        </div>
    </div>
    <div class="p-5 m-5 d-flex justify-content-center">
        <div class="card border-primary dark-blue-1" style="width: 1000px;">
            <img src="@Url.Content("~/images/7-calculate-button.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">7. Click the button with a calculator on it, to calculate the expenses between the participants.</p>
            </div>
        </div>
    </div>
    <div class="p-5 m-5 d-flex justify-content-center">
        <div class="card border-primary dark-blue-1" style="width: 1000px;">
            <img src="@Url.Content("~/images/8-expenses-calculation-participant-tab.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    8. Switch between tabs to see how much every participant spent on the party. 
                </p>
            </div>
        </div>
    </div>
    <div class="p-5 m-5 d-flex justify-content-center">
        <div class="card border-primary dark-blue-1" style="width: 1000px;">
            <img src="@Url.Content("~/images/9-expenses-calculation-transaction-list-tab.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    9. On the "Transaction list" tab you can see how much money each participant owes to the people who paid for the party.
                </p>
            </div>
        </div>
    </div>
    <footer class="py-4 bg-black">
        <div class="container px-4"><p class="m-0 text-white">Copyright © ExpensesCalculator 2024</p></div>
    </footer>
</div>