@model DayExpenses

@foreach (var check in @Model.Checks)
{
    <tr>
        <td>
            <span role="button" style="user-select: none;" id="checkDropper-@check.Id"
                  onclick="getCheckItemsManager(@check.Id, @Model.Id)">▷</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => check.Location)
        </td>
        <td>
            <div id="check-@check.Id-Sum">
                @Html.DisplayFor(modelItem => check.Sum)
            </div>            
        </td>
        <td>
            @Html.DisplayFor(modelItem => check.Payer)
        </td>
        <td>
            <div class="btn-group" role="group">
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                        onclick="showModalForCheckEdit(@check.Id)">
                    <i class="bi bi-pencil"></i>
                </button>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                        onclick="showModalForCheckDelete(@check.Id)">
                    <i class="bi bi-trash"></i>
                </button>
            </div>            
        </td>
    </tr>
    <tr id="check-@check.Id-Items"></tr>
}
