@model ExpensesCalculator.Models.ManageDayExpensesChecksViewModel

@foreach (var check in @Model.Checks)
{
    <tr>
        <td>
            <span role="button" style="user-select: none;" id="checkDropper-@check.Id"
                  onclick="getCheckItemsManager(@check.Id, @Model.DayExpensesId)"
                  data-bs-toggle="collapse" data-bs-target="#check-@check.Id"
                  aria-expanded="false" aria-controls="check-@check.Id">&#9655;</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => check.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => check.Sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => check.Payer)
        </td>
        <td>
            <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    onclick="showModalForCheckEdit(@check.Id, @Model.DayExpensesId)">
                <i class="bi bi-pencil"></i> Edit
            </button>
        </td>
        <td>
            <button class="btn btn-sm btn-danger" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop" onclick="showModalForCheckDelete(@check.Id, @Model.DayExpensesId)">
                <i class="bi bi-trash"></i> Delete
            </button>
        </td>
    </tr>
    <tr id="check-@check.Id-Items"></tr>
}
