@model DayExpenses

<script src="~/js/modalviews/day-expenses-modal-views.js"></script>
<script src="~/js/modalviews/checks-modal-views.js"></script>
<script src="~/js/modalviews/items-modal-views.js"></script>
<script src="~/js/managers/check-items-manager.js"></script>

@foreach (var check in @Model.Checks)
{
    <tr>
        <td>
            <span role="button" style="user-select: none;" id="checkDropper-@check.Id"
                  onclick="getCheckItemsManager(@check.Id, @Model.Id)"
                  data-bs-toggle="collapse" data-bs-target="#check-@check.Id"
                  aria-expanded="false" aria-controls="check-@check.Id">▷</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => check.Location)
        </td>
        <td>
            <div id="check-@check.Id-Sum">
                @Html.DisplayFor(modelItem => check.Sum)
            </div>            
        </td>
        <td>
            @Html.DisplayFor(modelItem => check.Payer)
        </td>
        <td>
            <div class="btn-group" role="group">
                <button class="btn btn-warning bi bi-pencil" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                        onclick="showModalForCheckEdit(@check.Id)">
                </button>
                <button class="btn btn-danger bi bi-trash" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                        onclick="showModalForCheckDelete(@check.Id)">
                </button>
            </div>            
        </td>
    </tr>
    <tr id="check-@check.Id-Items"></tr>
}
