@model ExpensesCalculator.Models.DayExpensesCalculationViewModel

@{
    ViewData["Title"] = "Expenses calculation";
}

<link rel="stylesheet" href="/css/mytooltip.css">
<link rel="stylesheet" href="/css/tab.css">
<script src="/js/open-tab.js"></script>

<h1>Expenses calculation</h1>
<hr />

<div class="tab">
    @foreach(var participant in Model.Participants)
    {
        <button class="tablinks" onclick="openParticipantTab(event, '@participant')">@participant</button>
    }
    <button class="tablinks" onclick="openParticipantTab(event, 'transactionList')">Transaction List</button>
</div>

@foreach(var participant in Model.Participants)
{
    <div id="@participant" class="tabcontent">
        @foreach (var check in Model.Checks)
        {
            if(check.Items.Count != 0)
            {
                double sum = 0;

                <div class="mytooltip">
                    <a asp-controller="Checks" asp-action="Edit" asp-route-id="@check.Id"
                       asp-route-dayexpensesid="@Model.DayExpensesId">@check.Location</a>:                  
                    <span class="tooltiptext">
                        Location: @check.Location<br />
                        Sum: @check.Sum₴<br />
                        Payer: @check.Payer<br /><br />
                        Click the button to edit
                    </span>
                </div>

                <ul>
                    @foreach (var item in check.Items)
                    {
                        @if (item.Users.Contains(participant))
                        {
                            <li>
                                @{
                                    var itemParams = new Dictionary<string, string>
            {
            { "id", item.Id.ToString() },
            { "checkid", check.Id.ToString() },
            { "dayexpensesid", Model.DayExpensesId.ToString() }
            };

                                    double priceForUser = Math.Round((item.Price / item.Users.Count), 2);
                                    sum += priceForUser;
                                }
                                <div class="mytooltip">
                                    <a asp-controller="Items" asp-action="Edit"
                                       asp-all-route-data="itemParams">@item.Name</a>
                                    <span class="tooltiptext">
                                        Name: @item.Name<br />
                                        Description: @item.Description<br />
                                        Price: @item.Price₴<br /><br />
                                        Click the button to edit
                                    </span>
                                </div>
                                (@item.Price₴) /
                                <div class="mytooltip">
                                    @item.Users.Count
                                    <span class="tooltiptext">
                                        Users:
                                        <ul>                                            
                                        @foreach(var user in item.Users)
                                        {
                                            <li>@user</li>
                                        }
                                        </ul>
                                    </span>
                                </div>
                                = @priceForUser₴
                            </li>
                        }
                    }
                </ul>
                <label>Sum per participant: @sum₴</label><br /><hr />
            }            
        }
    </div>
}

<div id="transactionList" class="tabcontent">
    <label>Transaction list:</label>
    <ul>
    @foreach (var transaction in Model.UserTransactions)
    {
        <li>@transaction.Key[0] (@transaction.Value₴) → @transaction.Key[1]</li>
    }
    </ul>
</div>

<div>
    <br />
    <a asp-action="Index" class="btn btn-primary" role="button">Back to List</a>
</div>
