@using Newtonsoft.Json
@model ExpensesCalculator.Models.DayExpensesViewModel

@{
    ViewData["Title"] = "Details";
}

<script>
    function createItemsList(checkId) {
        var list = @Html.Raw(JsonConvert.SerializeObject(@Model.Checks));
        var itemsList = list.filter(l => l.Id == checkId)[0].Items;

        var ul = document.getElementById("itemsList");
        ul.innerHTML = "";

        current_url = window.location.href;
        url_object = new URL(current_url);

        protocol = url_object.protocol;
        domain = url_object.hostname;
        port = url_object.port;

        for (let i = 0; i < itemsList.length; i++) {
            var itemId = itemsList[i].Id;

            var editItemLink = document.createElement("a");
            editItemLink.textContent = "Edit";
            editItemLink.setAttribute('href', `${protocol}//${domain}:${port}/Items/Edit/${itemId}?checkid=${checkId}&` +
                `dayExpensesId=@Model.DayExpensesId`);

            var deleteItemLink = document.createElement("a");
            deleteItemLink.textContent = "Delete";
            deleteItemLink.setAttribute('href', `${protocol}//${domain}:${port}/Items/Delete/${itemId}?checkid=${checkId}`);

            var li = document.createElement("li");
            li.textContent = itemsList[i].Name + " " + itemsList[i].Description + " " 
                + itemsList[i].Price + "₴ ";

            var label = document.createElement("label");
            label.textContent = "\xa0|\xa0";

            li.appendChild(editItemLink);
            li.appendChild(label);
            li.appendChild(deleteItemLink);

            document.getElementById("itemsList").appendChild(li);
        }      
    }
</script>

<h1>Details</h1>

<div>
    <h4>DayExpenses</h4>
    <hr />

    <div style="float:left;width:30%;">
        <dl class="row">
            <dt class="col-sm">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm">
                @Html.DisplayFor(model => model.Date)
            </dd>            
        </dl>
        <dl>
            <dt class="col-sm">
                Participant Names
            </dt>
            <dd class="col-sm">
                @ViewBag.FormatParticipantNames
            </dd>
        </dl>
        @for (int i = 0; i < Model.Checks.Count; i++)
        {
            <dl class="row">
                <dt class="col-sm">
                    <label style="font-weight:bold">Location: @Model.Checks[i].Location</label><br />
                    <label style="font-weight:bold">Sum: @Model.Checks[i].Sum₴</label><br />
                    <label style="font-weight:bold">Payer: @Model.Checks[i].Payer</label>
                </dt>
                <dd class="col-sm">
                    <a asp-controller="Items" asp-action="Create" asp-route-checkid="@Model.Checks[i].Id"
                       asp-route-dayexpensesid="@Model.DayExpensesId">Create item</a> |
                    <a class="link-button" role="button" onclick="createItemsList(@Model.Checks[i].Id)">Show items</a> |
                    <a asp-controller="Checks" asp-action="Edit" asp-route-id="@Model.Checks[i].Id"
                       asp-route-dayexpensesid="@Model.DayExpensesId">Edit</a> |
                    <a asp-controller="Checks" asp-action="Delete" asp-route-id="@Model.Checks[i].Id">Delete</a>
                </dd>
            </dl>
        }
        <div>
            <a asp-controller="Checks" asp-action="Create" asp-route-dayexpensesid="@Model.DayExpensesId">Create check</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div style="float:right;width:40%;">
        <label style="font-weight:bold">List of items</label>
        <ul id="itemsList"></ul>
    </div> 
</div>
<div style="clear:both;"></div>
