@using Newtonsoft.Json
@model ExpensesCalculator.Models.DayExpensesViewModel

@{
    ViewData["Title"] = "Details";
}

<script>
    function myFunction(checkId) {
        var list = @Html.Raw(JsonConvert.SerializeObject(@Model.Checks));

        var ul = document.getElementById("itemsList");
        ul.innerHTML = "";

        for (let i = 0; i < list[checkId - 1].Items.length; i++) {

            var li = document.createElement("li");
            li.textContent = list[checkId - 1].Items[i].Name;
            document.getElementById("itemsList").appendChild(li);
        }      
    }
</script>

<h1>Details</h1>

<div>
    <h4>DayExpenses</h4>
    <hr />

    <div style="float:left;width:45%;">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
        </dl>
        @foreach (var check in Model.Checks)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayFor(model => check.Location)
                </dt>
                <dd class="col-sm-10">
                    <a asp-controller="Checks" asp-action="Edit" asp-route-id="@check.Id">Edit</a>
                    <button id="@check.Id" onclick="myFunction(this.id)">Show items</button>
                </dd>
            </dl>
        }
        <div>
            <a asp-controller="Checks" asp-action="Create" asp-route-dayexpensesid="@Model.DayExpensesId">Create check</a> |
            <a asp-action="Edit" asp-route-id="@Model?.DayExpensesId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div style="float:right;width:45%;">
        <ul id="itemsList"></ul>
    </div> 
</div>
<div style="clear:both;"></div>
