@using Newtonsoft.Json
@model ExpensesCalculator.Models.DayExpensesViewModel

@{
    ViewData["Title"] = "Expenses List";
}

<link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
<link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />

<h1>Expenses List</h1><br />

<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        onclick="showModalForDayExpenses('Create', 0)">
    <i class="bi bi-plus-circle"></i> Add expenses
</button>


<hr />

<table class="table table-striped" id="daysTable">
    <thead>
        <tr>
            <th style="width:36px;"></th>
            <th>
                @Html.DisplayNameFor(model => model.Day.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day.Participants)
            </th>
            <th style="width:80px;"></th>
            <th style="width:100px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var day in Model.Days)
        {
            <tr>
                <td>
                    <span role="button" style="user-select: none;"
                          data-bs-toggle="collapse" data-bs-target="#day-@day.Id"
                          aria-expanded="false" aria-controls="day-@day.Id">&#9655;</span>
                </td>
                <td>
                    @Html.DisplayFor(model => day.Date)
                </td>
                <td>
                    @foreach (var participant in day.Participants)
                    {
                        <label>@participant; </label>
                    }
                </td>
                <td>
                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                            onclick="showModalForDayExpenses('Edit', @day.Id)">
                        <i class="bi bi-pencil"></i> Edit
                    </button>                    
                </td>
                <td>
                    <button class="btn btn-sm btn-danger" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" onclick="showModalForDayExpenses('Delete', @day.Id)">
                        <i class="bi bi-trash"></i> Delete
                    </button>                    
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <div class="collapse" id="day-@day.Id">
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                onclick="showModalForCheck('Create', 0, @day.Id)">
                            <i class="bi bi-plus-circle"></i> Add check
                        </button>
                        <hr />
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Check.Location)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Check.Sum)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Check.Payer)
                                    </th>
                                    <th style="width:80px;"></th>
                                    <th style="width:100px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var check in day.Checks)
                                {
                                    <tr>
                                        <td>
                                            <span role="button" style="user-select: none;"
                                                  data-bs-toggle="collapse" data-bs-target="#check-@check.Id"
                                                  aria-expanded="false" aria-controls="check-@check.Id">&#9655;</span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => check.Location)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => check.Sum)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => check.Payer)
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                    onclick="showModalForCheck('Edit', @check.Id, @day.Id)">
                                                <i class="bi bi-pencil"></i> Edit
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdrop" onclick="showModalForCheck('Delete', @check.Id, @day.Id)">
                                                <i class="bi bi-trash"></i> Delete
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">
                                            <div class="collapse" id="check-@check.Id">
                                                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                        onclick="showModal('Create', 0)">
                                                    <i class="bi bi-plus-circle"></i> Add item
                                                </button>
                                                <hr />
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Item.Name)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Item.Description)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Item.Price)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Item.Users)
                                                            </th>
                                                            <th style="width:80px;"></th>
                                                            <th style="width:100px;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach(var item in check.Items)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(model => item.Name)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => item.Description)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => item.Price)
                                                                </td>
                                                                <td>
                                                                    @foreach(var user in item.Users)
                                                                    {
                                                                        <label>@user; </label>
                                                                    }                                                                    
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                                            onclick="showModal('Edit', @day.Id)">
                                                                        <i class="bi bi-pencil"></i> Edit
                                                                    </button>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                                                            data-bs-target="#staticBackdrop" onclick="showModal('Delete', @day.Id)">
                                                                        <i class="bi bi-trash"></i> Delete
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </td>                
            </tr>
        }
    </tbody>
</table>

<!-- Edit Modal -->
<div class="modal fade"
     id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="idc">

            </div>
        </div>
    </div>
</div>

<script>
    function showModalForDayExpenses(act, dayId) {
        $(document).ready(function () {
            if (act == 'Create') {
                $.get(`/DayExpenses/CreateDayExpenses/`, function (data) {
                    $('#idc').html(data);
                    $('#staticBackdropLabel').html(act);
                });
            }
            else{
                $.get(`/DayExpenses/ChangeDayExpenses/${dayId}?act=${act.toString()}`, function (data) {
                    $('#idc').html(data);
                    $('#staticBackdropLabel').html(act);
                });
            }            
        });        
    }

    function showModalForCheck(act, checkId, dayId) {
        $(document).ready(function () {
            if (act == 'Create') {
                $.get(`/Checks/CreateCheck/?dayExpensesId=${dayId}`, function (data) {
                    $('#idc').html(data);
                    $('#staticBackdropLabel').html(act);
                });
            }
            else {
                $.get(`/Checks/ChangeCheck/${checkId}?dayExpensesId=${dayId}&act=${act.toString()}`, function (data) {
                    $('#idc').html(data);
                    $('#staticBackdropLabel').html(act);
                });
            }
        });
    }
</script>
