@model Check

<td id="checkItemList-@Model.Id" colspan="6">
    <div class="collapse" id="check-@Model.Id">
        <div class="container-fluid p-3 text-white">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    onclick="showModalForItemCreate(@Model.Id, @Model.DayExpensesId)">
                <i class="bi bi-plus-circle"></i> Add item
            </button>
        </div>
        <table class="table table-borderless text-white item-table">
            <thead>
                <tr>
                    <th class="text-nowrap">
                        <i class="bi bi-box"></i>
                        @Html.DisplayNameFor(model => model.Items.First().Name)
                    </th>
                    <th class="text-nowrap">
                        <i class="bi bi-alphabet"></i>
                        @Html.DisplayNameFor(model => model.Items.First().Description)
                    </th>
                    <th class="text-nowrap">
                        <i class="bi bi-coin"></i>
                        @Html.DisplayNameFor(model => model.Items.First().Price)
                    </th>
                    <th class="text-nowrap">
                        <i class="bi bi-people-fill"></i>
                        @Html.DisplayNameFor(model => model.Items.First().Users)
                    </th>
                    <th width="120px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr style="height: 60px;">
                        <td class="text-nowrap">
                            @Html.DisplayFor(model => item.Name)
                        </td>
                        <td class="text-nowrap">
                            @Html.DisplayFor(model => item.Description)
                        </td>
                        <td class="text-nowrap">
                            @Html.DisplayFor(model => item.Price)
                        </td>
                        <td class="text-nowrap">
                            @foreach (var user in item.UsersList)
                            {
                                <label>@user; </label>
                            }
                        </td>
                        <td>                            
                            <div class="btn-group" role="group">
                                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                        onclick="showModalForItemEdit(@item.Id, @Model.DayExpensesId)">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <button class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop"
                                        onclick="showModalForItemDelete(@item.Id)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
    </div>
</td>
<input type="hidden" id="check-@Model.Id-NewSum" value="@Model.Sum₴" />
