@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/to-top-button.css" rel="stylesheet" />

<button type="button" class="btn btn-info btn-lg" id="myBtn" onclick="topFunction()">
    <i class="bi-arrow-up"></i>
</button>
<div class="text-white text-center dark-blue-0">
    <div class="container py-5">
        <h1 class="fw-bolder">
            @Localizer["Welcome"]
        </h1>
        <p class="lead">
            @Localizer["Description"]
        </p>
    </div>
    <div class="py-5 px-3 px-lg-5 my-lg-5">
        <div class="rounded p-5 dark-blue-1">
            <h2>
                @Localizer["AboutTitle"]
            </h2>
            <p class="lead">
                @Localizer["AboutDescription"]
            </p>
        </div>
    </div>
    <div class="py-5 px-3 px-lg-5 my-lg-5 justify-content-center">
        <div class="card border-primary dark-blue-1">
            <img src="@Url.Content("~/images/1-my-expenses-list-button.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    @Localizer["MyExpensesTabDescription"]
                </p>
            </div>
        </div>
    </div>
    <div class="py-5 px-3 px-lg-5 my-lg-5 justify-content-center">
        <div class="card border-primary dark-blue-1">
            <img src="@Url.Content("~/images/2-add-expenses-button.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    @Localizer["AddExpensesDescription"]
                </p>
            </div>
        </div>
    </div>
    <div class="py-5 px-3 px-lg-5 my-lg-5 justify-content-center">
        <div class="card border-primary dark-blue-1">
            <img src="@Url.Content("~/images/3-show-checks-button.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    @Localizer["ShowChecksButtonDescription"]
                </p>
            </div>
        </div>
    </div>
    <div class="py-5 px-3 px-lg-5 my-lg-5 justify-content-center">
        <div class="card border-primary dark-blue-1">
            <img src="@Url.Content("~/images/4-add-check-button.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    @Localizer["AddCheckButtonDescription"]
                </p>
            </div>
        </div>
    </div>
    <div class="py-5 px-3 px-lg-5 my-lg-5 justify-content-center">
        <div class="card border-primary dark-blue-1">
            <img src="@Url.Content("~/images/5-add-item-button.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    @Localizer["AddItemButtonDescription"]
                </p>
            </div>
        </div>
    </div>
    <div class="py-5 px-3 px-lg-5 my-lg-5 justify-content-center">
        <div class="card border-primary dark-blue-1">
            <img src="@Url.Content("~/images/6-edit-and-delete-buttons.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    @Localizer["EditAndDeleteButtonsDescription"]                    
                </p>
            </div>
        </div>
    </div>
    <div class="py-5 px-3 px-lg-5 my-lg-5 justify-content-center">
        <div class="card border-primary dark-blue-1">
            <img src="@Url.Content("~/images/7-calculate-button.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    @Localizer["CalculateButtonDescription"]
                </p>
            </div>
        </div>
    </div>
    <div class="py-5 px-3 px-lg-5 my-lg-5 justify-content-center">
        <div class="card border-primary dark-blue-1">
            <img src="@Url.Content("~/images/8-expenses-calculation-participant-tab.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    @Localizer["ExpensesParticipantTabDescription"]
                </p>
            </div>
        </div>
    </div>
    <div class="py-5 px-3 px-lg-5 my-lg-5 justify-content-center">
        <div class="card border-primary dark-blue-1">
            <img src="@Url.Content("~/images/9-expenses-calculation-transaction-list-tab.jpg")" class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    @Localizer["ExpensesTransactionListTabDescription"]
                </p>
            </div>
        </div>
    </div>    
</div>
<footer class="py-4 bg-black">
    <div class="container px-4 text-center"><p class="m-0 text-white">Copyright © ExpensesCalculator 2025</p></div>
</footer>

<script src="~/js/to-top-button.js"></script>